@charset 'utf-8'

@import "compass/layout.scss"

@import "foundation-sites/scss/normalize"
@import "foundation-sites/scss/foundation"

@include sticky-footer(110px, ".l-container", ".l-container--footer", ".l-footer")

@page
  size: A4
  margin: 50px

html
  font-size: 85%

.small-8, .small-6, .small-4
  position: relative

.small-8
  width: 66.6666%

.small-6
  width: 50%

.small-4
  width: 33.3333%

.invoice--client-and-me
  margin-top: 15px
  margin-bottom: 15px

.invoice-comments
  margin: 10px 0 10px 0

.invoice-credits
  margin-top: 21px
  text-align: center

  ul
    font-size: 0.8em

.invoice-details
  width: 100%
  th, td
    line-height: 1.125em
    padding: 10px
    text-align: right
    vertical-align: top
  th
    text-transform: uppercase
  .invoice-details--price,
  .invoice-details--total-excl-vat
    width: 62px
  .invoice-details--subtotal
    font-weight: normal
    text-transform: uppercase
  .invoice-details--description,
  .invoice-details--title
    text-align: left
  .invoice-details--description
    ul
      margin-left: 0
      li
        list-style-type: none
  .invoice-details--total
    font-weight: bold
    text-transform: uppercase
  .invoice-details--unit
    text-align: center

.invoice-note
  padding-right: 5px

.invoice-note,
.invoice-signature
  margin-top: 15px

.invoice-payment
  margin-top: 80px

.invoice-payment--note
  margin-top: 15px
  ul
    margin-left: 0
    li
      list-style-type: none

.invoice-payment--title
  margin-top: 10px

.invoice-signature
  padding-left: 5px

.me-details
  text-align: right

.me-logo
  height: 125px
  margin-top: 1.4rem
  width: 125px
