---
base:
  comments:
    - ""
  date:
  locale:
  reference:
  template_url:
  type:
client:
  address:
  city:
  name:
  postcode:
  title:
products:
  -
    description:
    title:
    unit:
    price:
    quantity:
    vat_rate:
    total_excl_vat:
total:
  excl_vat:
  incl_vat:
  only_vat:
  vat_rate:
