---
base:
  comments:
    - "some comment"
    - "yet another comment"
  date: "May 25, 2013"
  locale: en
  note: 'global note'
  reference: No. 1337
  template_url: 'http://localhost:4567/index.html'
  type: invoice
client:
  address: 42th Field
  city: Valley
  name: Tribe Leader
  postcode: XXXXX
  title: Hurd
payment:
  enable: true
  types:
    - iban
    - cheque
    - rib
products:
  -
    description_html: |
      <p>We need more plants to feed the horde</p>
    title: Sow seeds
    unit: kg
    price: "10.24$"
    quantity: "10.00"
    vat_rate: "0%"
    total_excl_vat: "1 024.00$"
total:
  excl_vat: "1 024.00$"
  incl_vat: "1 024.00$"
  only_vat: "0$"
  vat_rate: "0%"
