---
client:
  address:
  city:
  name:
  postcode:
  title:
date:
products:
  -
    description:
    title:
    unit:
    price:
    quantity:
    vat_rate:
    total_excl_vat:
reference:
total:
  excl_vat:
  only_vat:
  incl_vat:
type:
payment:
  delay:
  vat_rate:
