---
logo_url: http://www.gnu.org/graphics/gerwinski-gnu-head.png
mail: bob@example.org
title: Bob
subtitle: The Great
website: http://example.org
payment:
  cheque:
    payee: Bob - The Great
  transfer:
    rib:
      bank: XXXXX / Bank title
      count_number: "YYYYYYYYYYY"
      desk: "ZZZZZ"
      key_number: "KK"
    iban:
      bic_code: "XXXXXXXXXXX"
      count_number: "YYYY YYYY YYYY YYYY YYYY YYYY YYY"
    online:
      url: http://www.example.org
credits:
  - "<strong>Bob - The Great</strong>"
  - "Bob's address"
