---
logo_url: http://www.gnu.org/graphics/gerwinski-gnu-head.png
mail: bob@example.org
title: Bob
subtitle: The Great
website: http://example.org
payment:
  cheque:
    payee: Bob - The Great
  transfer:
    bank: XXXXX / Bank title
    count_number: "YYYYYYYYYYY"
    desk: "ZZZZZ"
    key_number: "KK"
credits:
  - "<strong>Bob - The Great</strong>"
  - "Bob's address"
